*.bmp
*.mp4
/Old_stuff
/Optical-flow-*
/__pycache__
/.venv
main.py
/Raw_Pictures_Wavelet
test.py
__pycache__/
*.pyc
OF_dataframes/*.csv
VF BOS_12_11_2 (220) corrected/
VF BOS_12_11_2 (220)/
Final OF vector fields/