*.bmp
*.mp4
/Old_stuff
/Optical-flow-*
/__pycache__
/.venv
main.py
/Raw_Pictures_Wavelet
test.py
__pycache__/
*.pyc
OF_dataframes (pixel method)/*.csv
OF_dataframes (circle method)/*.csv
VF BOS_12_11_2 (220) corrected/
VF BOS_12_11_2 (220)/
VF BOS_12_11_1 (220)/
VF BOS_12_11_1 (220) corrected/
VF BOS_12_11_6 (252)/
VF BOS_12_11_6 (252) corrected/
Final OF vector fields/
.vscode/